@import "../global.scss";

.inputform-area {
  background-color: $light-green;
  border-radius: 20px;
  padding: 30px;

  @include mobile {
    padding: 20px;
  }

  .inputform-area__form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    .form-section__input-buttons {
      width: 100%;
      display: flex;
    }

    .form-section__inputs {
      .inputs-label {
        color: white;
        font-size: 1.1em;

        &.more-compounds-button {
          display: flex;
          justify-content: center;
          font-size: 1.4em;
        }

        @include mobile {
          font-size: 0.8em;
        }
      }

      input {
        height: 30px;
        width: 130px;
        border-radius: 10px;
      }

      input[type="text"] {
        padding: 2px 5px;
      }
    }
  }

  select {
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 40px;
    cursor: pointer;
    padding: 0px 10px;

    &:hover {
      background-color: rgb(35, 35, 35);
    }

    &.inputs-graph-type {
      background-color: white;
      color: black;
      width: 143px;
    }
  }

  button {
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 40px;
    cursor: pointer;

    &:hover {
      background-color: rgb(35, 35, 35);
    }
  }

  .form-section__template-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      width: 80px;
    }
  }

  .form-section__submit-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
