@import "../global.scss";

.main-container {
  height: 96vh;
  width: 98vw;
  margin: 2vh 1vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    position: relative;
    padding-top: 40px;

    &.home {
      height: 100%;
      padding-top: 0px;

      @include mobile {
        flex-direction: column;
        padding-top: 70px;
        gap: 10px;
      }
    }

    &.distilation {
      flex-direction: column;
      padding-top: 20px;
      gap: 20px;

      @include mobile {
        padding-top: 40px;
      }
    }

    .content__data-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      @include mobile {
        padding-top: 40px;
      }
    }
  }
}
