// Color Palette
$dark-green: #394e2c;
$light-green: #516F3E;

// Parent Properties
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}
