// Color Palette Family
$dark-green: #394E2C;
$light-green: #647A4C;
$dark-yellow: #F0D003;
$light-yellow: #FAE526;

// Parent Properties
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

